.cproject
.deps
.libs/
.project
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
http.la
install-sh
lcov_data
libtool
ltmain.sh
missing
mkinstalldirs
modules/
pecl_http-*.tgz
*.lo
*.o
run-tests.php
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
lcov_data
*~
*.phar
vendor/
tests/helper/server.log
