.cproject
.deps
.libs/
.project
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
http.la
install-sh
lcov_data
libtool
ltmain.sh
missing
mkinstalldirs
modules/
pecl_http-*.tgz
*.lo
*.o
run-tests.php
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
lcov_data
*~
*.phar
vendor/
tests/helper/server.log
php_http_api.h
php_http_buffer.h
php_http_client.h
php_http_client_curl.h
php_http_client_curl_event.h
php_http_client_curl_user.h
php_http_client_request.h
php_http_client_response.h
php_http_cookie.h
php_http_curl.h
php_http_encoding.h
php_http_env.h
php_http_env_request.h
php_http_env_response.h
php_http_etag.h
php_http_exception.h
php_http_filter.h
php_http_header.h
php_http_header_parser.h
php_http_info.h
php_http_message.h
php_http_message_body.h
php_http_message_parser.h
php_http_misc.h
php_http_negotiate.h
php_http_object.h
php_http_options.h
php_http_params.h
php_http_querystring.h
php_http_response_codes.h
php_http_url.h
php_http_utf8.h
php_http_version.h
