# current is 8.1.1 ATM
# 7.21.5-7.29.0 fail to configure on gh actions

alpine: 8.1.1 7.78.0
centos: 7.61.1 # 7.29.0
debian: 7.88.1 7.74.0
fedora: 7.87.0 7.85.0
other: 7.49.1 7.31.0
ubuntu: 7.81.0 7.74.0

# always test against a few recent
latest: master 8.1.1 8.0.1 7.88.1 7.81.0
# and a couple ancient
oldest: 7.18.2 7.19.7 7.20.1

# 7.64.1 fails client tests because of superfluous infof() calls
# 7.64.0 fails client cookie test because of curl/curl#3613
